apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: the-project
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kiprotichgidii/kubernetes-submissions
    targetRevision: main
    path: the_project
  destination:
    server: https://kubernetes.default.svc
    namespace: project
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
