apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: project-prod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kiprotichgidii/kubernetes-project-config
    targetRevision: main
    path: overlays/prod
  destination:
    server: https://kubernetes.default.svc
    namespace: project-prod
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
