apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: project-staging
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kiprotichgidii/kubernetes-project-config
    targetRevision: main
    path: the-project/overlays/staging
  destination:
    server: https://kubernetes.default.svc
    namespace: project-staging
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
